

<main>
    <div class="texto1">
        <div class="texto1-img">
            <img src="/assets/svg/barco-sem-fundo.svg" alt="">
        </div>

        <div class="texto1-conteudo">
            <span class="texto1-conteudo-subtitle">
                Sobre aqueles momentos de segurança que a gente só quer se proteger
            </span>

            <h3>
                Aproxime quem você quer aproximar
            </h3>

            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est...
            </p>

            <a href="">Veja mais</a>
        </div>
    </div>
    <div class="texto2">
        <div class="texto2-conteudo">
            <span class="texto2-conteudo-subtitle">
                Sobre aqueles momentos de segurança que a gente só quer se proteger
            </span>

            <h3>
                Aproxime quem você quer aproximar
            </h3>

            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est...
            </p>

            <a href="">Veja mais</a>
        </div>

        <div class="texto2-img">
            <img src="/assets/svg/mulheres-sem-fundo.svg" alt="">
        </div>
    </div>
    <div class="texto1">
        <div class="texto1-img">
            <img src="/assets/svg/barco-sem-fundo.svg" alt="">
        </div>

        <div class="texto1-conteudo">
            <span class="texto1-conteudo-subtitle">
                Sobre aqueles momentos de segurança que a gente só quer se proteger
            </span>

            <h3>
                Aproxime quem você quer aproximar
            </h3>

            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est...
            </p>

            <a href="">Veja mais</a>
        </div>
    </div>
    <div class="texto2">
        <div class="texto2-conteudo">
            <span class="texto2-conteudo-subtitle">
                Sobre aqueles momentos de segurança que a gente só quer se proteger
            </span>

            <h3>
                Aproxime quem você quer aproximar
            </h3>

            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est...
            </p>

            <a href="">Veja mais</a>
        </div>

        <div class="texto2-img">
            <img src="/assets/svg/mulheres-sem-fundo.svg" alt="">
        </div>
    </div>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
</main>

