main {
    box-sizing: border-box;
    background-color: #E9E1DC;
    padding-left: 320px;
    padding-right: 320px;
}

.footer{
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-esquerdo h2{
    flex-shrink: 0;
    color: #D17165;
    text-align: justify;
    font-family: Judson;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.footer-contato-titulo{
    display: flex;
}

.footer-esquerdo-contatos{
    display: flex;
    margin-top: -30px;
}

.footer-esquerdo-contatos-icone{
    margin-right: 45px;
}

.footer-direito{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.footer-baixo{
    display: flex;
    background-color: #E9E1DC;
    border-top: 1px solid #D17165;
    color: #D17165;
    text-align: justify;
    font-family: Judson;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
    padding: 5px;
    justify-content: center;
    box-sizing: border-box;
}

/* Estilos para dispositivos pequenos (smartphones em modo retrato) */
@media only screen and (max-width: 599px) {

    main {
        padding-left: 35px;
        padding-right: 35px;
    }

    .footer{
        padding-top: 10px;
        justify-content: center;
    }



    .footer-esquerdo h2{
        font-size: 18px;
    }

    .footer-esquerdo-contatos-icone{
        margin-right: 22.5px;
    }

    .footer-direito{
        display: none;
    }

    .footer-baixo{
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: border-box;
    }
    

}