<main>
    <div class="footer">
        <div class="footer-esquerdo">
            <div class="footer-contato-titulo">
                <h2>Ficou com alguma duvida?</h2>
                <img src="/assets/svg/contatos-flecha.svg" alt="">
            </div>
            
            <div class="footer-esquerdo-contatos">
                <div class="footer-esquerdo-contatos-icone">
                    <a href="#">
                        <img src="/assets/svg/contatos-whatsapp.svg" alt="">
                    </a>
                </div>

                <div class="footer-esquerdo-contatos-icone">
                    <a href="#">
                        <img src="/assets/svg/contatos-instagram.svg" alt="">
                    </a>
                </div>

                <div class="footer-esquerdo-contatos-icone">
                    <a href="#">
                        <img src="/assets/svg/contatos-gmail.svg" alt="">
                    </a>
                </div>

            </div>
        </div>
        <div class="footer-direito">
            <a href="/">
                <img src="/assets/svg/contatos-logomg.svg" alt="">
            </a>
            
        </div>
        
    </div>
    
</main>

