<main>
    <div class="topo-conteudo">

        <div class="topo-lado-esquerdo">

            <div class="topo-lado-esquerdo-logo">
                <img src="/assets/svg/logo.svg" alt="">
            </div>
            
            <div class="topo-lado-esquerdo-texto">
                <h1>Mariana Gil Psicóloga</h1>
                <p><span class="topo-lado-esquerdo-subtitulo">Como você está se sentindo hoje?</span><br> vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum delen dignissimos ducimus qui</p>
                <button class="topo-lado-esquerdo-botao">
                    <a href="">
                        <img src="/assets/svg/whatsapp-botao.svg" alt="">Agende sua consulta
                    </a>
                </button>
            </div>
        </div>
    
        <div class="topo-lado-direito">
            <nav>
                <ul>
                    <li><a href="#">Quem sou eu</a></li>
                    <li><a href="#">Psicoterapia</a></li>
                    <li><a href="#">Textos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
            <div class="topo-lado-direito-img">
                <img src="/assets/svg/imagem-topo.svg" alt="" >
            </div>
        </div>

    </div>


    <div class="topo-onda-escura">
        <img src="/assets/svg/ondas-topo.svg" alt="" width="1556 px">
    </div>
</main>