<main>
    <div class="artigos">
        <h2>Algumas reflexões</h2>
    </div>
    <div class="artigos-conteudo">
        
        <div class="artigos-conteudo-card">
            <a href="">
                <div class="artigos-conteudo-card-texto">
                    <h5>Aproxime quem você quer aproximar</h5>
                    <p>Sobre aqueles momentos de insegurança que a gente só quer se proteger</p>
                </div>
            </a> 
        </div>
        <div class="artigos-conteudo-card">
            <a href="">
                <div class="artigos-conteudo-card-texto">
                    <h5>Aproxime quem você quer aproximar</h5>
                    <p>Sobre aqueles momentos de insegurança que a gente só quer se proteger</p>
                </div>
            </a> 
        </div>
        <div class="artigos-conteudo-card">
            <a href="">
                <div class="artigos-conteudo-card-texto">
                    <h5>Aproxime quem você quer aproximar</h5>
                    <p>Sobre aqueles momentos de insegurança que a gente só quer se proteger</p>
                </div>
            </a> 
        </div>
        <div class="artigos-conteudo-card">
            <a href="">
                <div class="artigos-conteudo-card-texto">
                    <h5>Aproxime quem você quer aproximar</h5>
                    <p>Sobre aqueles momentos de insegurança que a gente só quer se proteger</p>
                </div>
            </a> 
        </div>
        <div class="artigos-conteudo-card">
            <a href="">
                <div class="artigos-conteudo-card-texto">
                    <h5>Aproxime quem você quer aproximar</h5>
                    <p>Sobre aqueles momentos de insegurança que a gente só quer se proteger</p>
                </div>
            </a> 
        </div>
        <div class="artigos-conteudo-card">
            <a href="">
                <div class="artigos-conteudo-card-texto">
                    <h5>Aproxime quem você quer aproximar</h5>
                    <p>Sobre aqueles momentos de insegurança que a gente só quer se proteger</p>
                </div>
            </a> 
        </div>
    </div>
</main>
