<main>
    <div class="conteudo">
        <div class="logo">
            <img src="/assets/svg/logo.svg" alt="">
        </div>
    
        <div class="titulo">
            <h1> Algumas reflexões sobre o comportamento humano e aquilo que nos faz únicos</h1>
        </div>
    
        <div class="busca"> 
            <input type="search" placeholder="Pequisar um texto...">
            <button type="submit">
                <img src="/assets/svg/icone-busca.svg" alt="">
            </button>
            
        </div>
    </div>

</main>
