<app-top-layout></app-top-layout>
<main>
    <div class="quem-sou-eu">
        <div class="quem-sou-eu-texto">
            <h2>Quem sou eu?</h2>
            <p>
                Sou Mariana Gil, psicóloga formada pela USP e pós-graduada pelo Hospital das Clínicas de Ribeirão Preto. Com mais de 6 anos de experiência em psicoterapia, tenho dedicado minha carreira ao atendimento de uma ampla gama de demandas emocionais e psicológicas. Meu trabalho é fundamentado na escuta empática e na abordagem humanizada, buscando sempre compreender e ajudar meus pacientes a superarem desafios pessoais e emocionais
            </p>
            <br>
            <p>
                Além do meu trabalho clínico, tenho o prazer de compartilhar meus insights e reflexões através de textos disponíveis aqui no site, abordando temas relevantes para o bem-estar emocional e o desenvolvimento pessoal. Estou comprometida em oferecer um espaço seguro e acolhedor para que você possa iniciar sua jornada de autoconhecimento e transformação.
            </p>
        </div>

        <div class="quem-sou-eu-img">
            <img src="/assets/svg/quem-sou-eu-img.svg" alt="">
        </div>
    </div>

    <div class="psicoterapia">
        <div class="psicoterapia-titutlo">
            <h2>Como funciona a psicoterapia?</h2>
        </div>

        <div class="psicoterapia-conteudo">

            <div class="psicoterapia-conteudo-esquerdo">

                <div class="psicoterapia-conteudo-esquerdo-topico">
                    <h4>Primeiro contato</h4>
                    <p>O primeiro contato pode ser realizado pelo whatsapp ou instagram. Aqui agendaremos uma consulta inicial</p>
                </div>
                <div class="psicoterapia-conteudo-esquerdo-topico">
                    <h4>Primeiro contato</h4>
                    <p>O primeiro contato pode ser realizado pelo whatsapp ou instagram. Aqui agendaremos uma consulta inicial</p>
                </div>
                <div class="psicoterapia-conteudo-esquerdo-topico-mobile">
                    <h4>Primeiro contato</h4>
                    <p>O primeiro contato pode ser realizado pelo whatsapp ou instagram. Aqui agendaremos uma consulta inicial</p>
                </div>
                <div class="psicoterapia-conteudo-esquerdo-topico-mobile">
                    <h4>Primeiro contato</h4>
                    <p>O primeiro contato pode ser realizado pelo whatsapp ou instagram. Aqui agendaremos uma consulta inicial</p>
                </div>
                

            </div>

            <div class="psicoterapia-conteudo-meio">
                <img src="/assets/svg/pscioterapia-linha.svg" alt="">
            </div>

            <div class="psicoterapia-conteudo-direito">
                <div class="psicoterapia-conteudo-direito-topico">
                    <h4>Primeiro contato</h4>
                    <p>O primeiro contato pode ser realizado pelo whatsapp ou instagram. Aqui agendaremos uma consulta inicial</p>
                </div>
                <div class="psicoterapia-conteudo-direito-topico">
                    <h4>Primeiro contato</h4>
                    <p>O primeiro contato pode ser realizado pelo whatsapp ou instagram. Aqui agendaremos uma consulta inicial</p>
                </div>
            </div>
        </div>
    </div>
</main>
<app-artigos-layout></app-artigos-layout>
<app-footer-layout></app-footer-layout>
    
